<div>
  <p class="panel panel-default">“Look, father! What's that dark cloud over there? It's not the storm, is it?”<br>
    &nbsp;&nbsp;Looking over the backs of the four horses that pull your cart, your father squints, then says, “Riders. Lots of them and coming fast.”
  <br>&nbsp;&nbsp;“Are they bandits, Paul?” asks your mother fearfully, clutching her shawl to her throat.
  <br>&nbsp;&nbsp;“No, Martha. They can't be bandits. The Dwarven Guard cleaned up the last of them then years ago. I don't know
  who they are, but the way they're riding we'll soon find out.
  <br>&nbsp;&nbsp;"Son, grab that puppy of yours and get under cover in that pile of bedclothes.”
  <br>&nbsp;&nbsp;“But I want to stay here. If there's trouble, I can help too.”
  <br>&nbsp;&nbsp;“Do as your father says,” snaps your mother. “And don't come out till we say it's safe.”
  <br>&nbsp;You know better than to argue with your mother, so you get off the narrow wooden seat and wriggle through the
  crowded cart. “Well, no one said I couldn't watch,” you whisper to Woofy, who licks your face in reply.
  <br>&nbsp;&nbsp;Snuggling down into the pile of blankets, you quiet the puppy, who thinks you're trying to play. Then
  you arrange the blankets so that you can see. Soon, a faint rumble becomes the drumming thunder of
  horses' hoofs.
  <br>&nbsp;&nbsp;“Hold your team!” demands a harsh voice.
  <br>&nbsp;&nbsp;“Oh, Paul! It's the Guard!” cries your mother. “Thank heavens, we're safe.”
  <br>&nbsp;&nbsp;Pulling the team to a complete stop, your father calls, “Ho! Guard! What
  is your business with us? We are anxious to camp before the storm breaks. Speak, and let us be on our
  way.”
  <br>&nbsp;&nbsp;“Do you dare to speak so to the King's Guard?” snarls a menacing voice.
  <br>&nbsp;&nbsp;“Teach the humans tobe polite!” urges another of the uniformed dwarves.
  <br>&nbsp;&nbsp;Your mother clings to your father's arm. Train begins to fall. All around you are the sounds of horses. Saddle leather creaks beneath the weight of the armored Dwarven Guard, and you feel the presence of unseen riders closing in.
  <br>&nbsp;&nbsp;“Now, now, lads. Is this any way to speak to those we have vowed to protect?” asks a honeyed voice. “Come, let us not be
  hasty. Let's find out how the situation lies. After all, lads, we wouldn't want to make a mistake now,
  would we?”
  <br>&nbsp;&nbsp;There is a long moment of silence. Then a few voices mutter, “Sneed's right.”
  <br>&nbsp;&nbsp;“Well, then. There we all are. Nice and pleasant,” says Sneed. “Surely, all a mistake. But these are lads with quick
  tempers, so please humor us by answering a few questions.”
  <br>&nbsp;&nbsp;“I'm sure we've done no wrong,” says your mother. “What do you want to know?”
  <br>&nbsp;&nbsp;“Just a few questions, “says Sneed. “Like where you've been
  and where you're going.”
  <br>&nbsp;&nbsp;“Why, Captain, we're going to the prince's coronation, of course. And as to
  where we've been, we've been mapping. My husband is the royal mapmaker.”
  <br>&nbsp;&nbsp;“Royal mapmaker, eh? Splendid occupation. So useful. And are you traveling alone?”
  <br>&nbsp;&nbsp;Your father answers quickly, “Yes, Captain, quite alone. Just me and the missus.”
  <br>&nbsp;&nbsp;“All by yourselves. Splendid, just splendid,” Sneed beams. “You see, lads, what comes of talking first? Now we know who these fine people are. Avoid mistakes, I always say. Now we know they are alone. Seize them!”
  <br>&nbsp;&nbsp;Before your father can protest, heavy hands pull him and your mother from the cart. Your mother screams and your father curses, but
  rough laughter drowns out their cries.
  <br>&nbsp;&nbsp;“You see, lads. It is as I told you. Who would suspect the king's
  own Dwarven Guard of treachery? No one, until it's far too late. Soon, all that is owed to us for long
  years of protecting humans will be ours. Now, tie these two up. We'll take them back to the caves. A
  mapmaker will be useful to our new kingdom. Soon we will launch our attack, With the prince in our
  hands, the kingdom is ours! Drive the wagon into the rocks and search it for gold and maps. Then burn
  it!”
  <br>&nbsp;&nbsp;You've been told stories of heroes protecting the defenseless. Powerful knights fighting goblins, their armor gleaming. You look down at Woofy and your tattered shirt, then out at the ringmail armor covering the Dwarven rebels. Anger broils as you see your mother's arm twisted as she cries out in pain, but you feel Woofy's breath on your arm and it gives you pause. You can...</p>
</div>

<br>
<div class="d-flex flex-row justify-content-center">
  <div class="mr-5">
    <a routerLink="/story2">fight</a>
  </div>
  <div>
    <a routerLink="/story3">Hide</a>
  </div>
</div>